@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



body {
  background: #2B2D42;
  font-family: 'Poppins', sans-serif;

}

h1 {
  text-align: center;
  margin-top: 50px;
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  padding: 12px 24px;
  border-radius: 12px;
  background: #4facfe;
  color: white;
  border: none;
  cursor: pointer;
}

.container {
  background: #ebd57e;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 24px;
}

select {
  border-radius: 5px;
  width: 100px;
  padding: 8px;
}

option {
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}

.card {
  width: 100%;
}

.currency-row {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.currency-box {
  flex: 1;
  text-align: center;
}

.currency-box h2 {
  font-size: 16px;
  margin-bottom: 8px;
  font-family: 'Poppins', sans-serif;
}

.result {
  margin-top: 10px;
  background: #4facfe;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 18px;
  font-weight: bold;
}

.res {
  font-size: 30px;
  color: bisque;
}

.update {
  align-items: end;
}

.sum {
  border-radius: 5px;
  padding: 8px;
  font-family: 'Poppins', sans-serif;

}

button:hover {
  background: #3d8fd9;
  transform: scale(1.02);
  transition: 0.3s;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
  text-align: left;
  font-size: 30px;
}

.update {
  font-size: 14px;
  white-space: nowrap;
}

.black-line {
  margin-top: 15px;
  color: black;
  width: 100%;
  border-bottom: 2px solid black;
}

.history {
  width: 500px;
  margin-left: 50px;
}


.clearButton {
  margin-left: 320px;
}

@media(max-width:480px) {
  .summa {
    margin-left: 30px;
  }

  .history {
    max-width: 400px;
  }

  h3 {
    margin-left: 90px;
  }

  .history-item {
    max-width: 350px;
    margin-left: 60px;
  }

  .clearButton {
    margin-left: 70px;
  }
}