/* шрифт */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* глобальные стили */
body {
  background: #2B2D42;
  font-family: 'Poppins', sans-serif;
}


h1 {
  text-align: center;
  margin-top: 50px;
  white-space: nowrap;
  /* запрещает перенос на новую строку */
  border: 2px solid;
  padding: 5px;
}

/* основной блок с контентом*/
.first {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* кнопки */
button {
  margin-top: 20px;
  padding: 12px 24px;
  border-radius: 12px;
  background: #4facfe;
  color: white;
  border: none;
  cursor: pointer;
}

/* ховер на кнопки */
button:hover {
  background: #3d8fd9;
  transform: scale(1.02);
  transition: 0.3s;
}

/* основной блок */
.container {
  background: #ebd57e;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 24px;
  
}

/* выпадающие списки */
select {
  border-radius: 5px;
  width: 100px;
  padding: 8px;
}

option {
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}

/* блок с двумя селектами (рядом) */
.card {
  width: 100%;
}

.currency-row {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.currency-box {
  flex: 1;
  text-align: center;
}

.currency-box h2 {
  font-size: 16px;
  margin-bottom: 8px;
  font-family: 'Poppins', sans-serif;
}

/* результат конвертации */
.result {
  margin-top: 10px;
  background: #4facfe;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 18px;
  font-weight: bold;
}

.res {
  font-size: 30px;
  color: bisque;
}

/* дата обновления курсов */
.update {
  align-items: end;
  margin-left: 20px;
  font-size: 14px;
  white-space: nowrap;
}

/* поле ввода суммы */
.sum {
  border-radius: 5px;
  padding: 8px;
  font-family: 'Poppins', sans-serif;
}

/* заголовок и дата */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
}

.header h1 {
  margin: 0;
  text-align: left;
  font-size: 30px;
}


/* блок с историей */
.history {
  width: 500px;
  margin-left: 50px;
}

/* кнопка очистки истории */
.clearButton {
  margin-left: 320px;
}

/* адаптив */
@media (max-width: 480px) {
  .html {
    zoom: 1;
  }

  .container {
    margin-left: 10px;
  }

  h1 {
    white-space: nowrap;
  }

  .summa {
    margin-left: 30px;
  }

  .history {
    max-width: 400px;
  }

  h3 {
    margin-left: 90px;
  }

  .history-item {
    max-width: 350px;
    margin-left: 60px;
  }

  .clearButton {
    align-content: center;
    margin-left: 70px;
  }

  .update {
    font-size: 10px;
    margin-top: 5px;
  }

  .header {
    display: flex;
    flex-direction: column;
  }

  /* запрещаем автоматический зум на телефонах(была проблема,когда на телефоне вводишь значение,был вонючий зум,вроде пофиксил) */
  input,
  select,
  button {
    font-size: 16px;
  }
}